# Exploratory Data Analysis

## Introduction

Đây là bài phân tích tổng quát dữ liệu (data profiling) cho bộ data football database từ kaggle

(https://www.kaggle.com/datasets/technika148/football-database)

Ta sẽ tập trung vào việc xem tổng quan và ý nghĩa của table games để trả lời một số câu hỏi cơ bản:
- Sự khác biệt giữa các leagues
- Thống kê các chỉ số khác (Goals, Cards, Fouls,...)

## Import package

In [1]:
import os, math, subprocess
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sqlalchemy import create_engine


# load environments
from dotenv import load_dotenv
load_dotenv()

# some settings for displaying Pandas results
pd.set_option('display.width', 2000)
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.precision', 4)
pd.set_option('display.max_colwidth', None)

## Set up data source

Ta có thể load data local hoặc connect mới MySQL.

Trong phần này, ta sẽ chọn cách kết nối với MySQL

In [2]:
params = {
    "host": "localhost",
    "port": os.getenv("MYSQL_PORT"),
    "database": os.getenv("MYSQL_DATABASE"),
    "user": os.getenv("MYSQL_USER"),
    "password": os.getenv("MYSQL_PASSWORD")
}
conn_info = (
        f"mysql+pymysql://{params['user']}:{params['password']}"
        + f"@{params['host']}:{params['port']}"
        + f"/{params['database']}")
print(f"Configs: {conn_info}")
conn = create_engine(conn_info)
conn

Configs: mysql+pymysql://admin:admin123@localhost:3306/football

Engine(mysql+pymysql://admin:***@localhost:3306/football)

## Meta Data

Như đã đề cập, bộ dữ liệu này ghi lại thống kê từ top 5 giải đấu hàng đầu Châu Âu từ mùa 2014 đến 2020 bao gồm: Premier League (England), La Liga (Spain), the Bundesliga (Germany), Serie A (Italy) và Ligue 1 (France)

Chúng ta có các bảng như sau:

In [6]:
sql1 = '''
SELECT TABLE_NAME, COUNT(COLUMN_NAME) AS 'NUM_COL'
FROM information_schema.`COLUMNS` c 
WHERE TABLE_SCHEMA ='football'
GROUP BY TABLE_NAME 
'''
sql2 = '''
SELECT TABLE_NAME , TABLE_ROWS 
FROM information_schema.TABLES t 
WHERE TABLE_SCHEMA ='football' ;
'''
tables = pd.read_sql(sql1,conn)
tables = tables.merge(pd.read_sql(sql2,conn), on="TABLE_NAME") 
tables.sort_values(by=['NUM_COL', 'TABLE_ROWS'], ascending=False)

    TABLE_NAME  NUM_COL  TABLE_ROWS
1        games       34       12596
0  appearances       19      348817
6    teamstats       16       25362
4        shots       11      193634
2      leagues        3           5
3      players        2        7853
5        teams        2         146

Trong phần này chúng ta sẽ tập trung vào phân tích trong bảng games và teamstat để thấy sự khác biệt giữa các giải đấu hàng đầu

## League statistics

Ta sẽ phân tích bảng games, đây là bảng ghi lại thông số thống kê của tất cả các trận đấu diễn ra từ mùa 2014 đến 2020:
- GameID, leagueID: ID của mỗi game và mỗi league tham chiếu đến bảng leagues
- season, date: Mùa giải và thời gian diễn ra trận đấu
- hometeamID, awayteamID: ID của mỗi team và mỗi team tham chiếu đến bảng teams
- homeGoals, awayGoals: Số bàn thắng ghi nhận được trong trận đấu của một team
- homeProbability, awayProbability: Khả năng chiến thắng ghi nhận được trong trận đấu của team
và nhiều thông số không quan trọng khác

In [12]:
# Game table
sql_stm = '''
    SELECT * FROM games;
'''
games = pd.read_sql(sql_stm,conn)
games.describe()

           gameID    leagueID  homeTeamID  awayTeamID   homeGoals   awayGoals  homeProbability  drawProbability  awayProbability  homeGoalsHalfTime  awayGoalsHalfTime       B365H       B365D       B365A         BWH         BWD         BWA         IWH         IWD         IWA         PSH         PSD         PSA         WHH         WHD         WHA         VCH         VCD         VCA        PSCH        PSCD        PSCA
count  12680.0000  12680.0000  12680.0000  12680.0000  12680.0000  12680.0000       12680.0000       12680.0000       12680.0000         12680.0000         12680.0000  12680.0000  12680.0000  12680.0000  12680.0000  12680.0000  12680.0000  12680.0000  12680.0000  12680.0000  12680.0000  12680.0000  12680.0000  12680.0000  12680.0000  12680.0000  12680.0000  12680.0000  12680.0000  12680.0000  12680.0000  12680.0000
mean    7877.7073      2.9839    135.3248    135.3335      1.5332      1.2066           0.4485           0.2382           0.3133             0.6741             0.5263      2.8259      4.0785      4.7406      2.7830      4.0156      4.5905      2.7195      3.9083      4.3675      2.9013      4.2072      4.9529      2.8127      3.9209      4.7130      2.8749      4.1197      4.9629      2.9438      4.2373      5.0309
std     4753.7740      1.4372     42.7580     42.7678      1.3067      1.1677           0.2849           0.1096           0.2624             0.8309             0.7347      2.1476      1.4517      4.2288      2.0104      1.3724      3.9997      1.8511      1.1694      3.5855      2.2790      1.6233      4.5905      2.0873      1.2915      4.3332      2.2807      1.5596      4.9450      2.3671      1.7303      4.8325
min       81.0000      1.0000     71.0000     71.0000      0.0000      0.0000           0.0000           0.0000           0.0000             0.0000             0.0000      0.0000      0.0000      0.0000      0.0000      0.0000      0.0000      0.0000      0.0000      0.0000      0.0000      0.0000      0.0000      0.0000      0.0000      0.0000      0.0000      0.0000      0.0000      0.0000      0.0000      0.0000
25%     3812.7500      2.0000    101.0000    101.0000      1.0000      0.0000           0.1975           0.1634           0.0888             0.0000             0.0000      1.6700      3.3000      2.4000      1.7000      3.3000      2.4000      1.7000      3.3000      2.4000      1.7075      3.3900      2.4575      1.7000      3.2000      2.4000      1.7000      3.3000      2.4500      1.7000      3.3600      2.4500
50%     7981.5000      3.0000    132.0000    132.0000      1.0000      1.0000           0.4286           0.2474           0.2421             0.0000             0.0000      2.2000      3.6000      3.4000      2.2000      3.5000      3.4000      2.2000      3.5000      3.3000      2.2400      3.6700      3.5200      2.2500      3.5000      3.3000      2.2000      3.6000      3.5000      2.2500      3.6600      3.5500
75%    12023.2500      4.0000    163.0000    163.0000      2.0000      2.0000           0.6864           0.3076           0.4927             1.0000             1.0000      3.0000      4.2000      5.2500      3.0000      4.1000      5.0000      2.9000      4.0000      4.9000      3.1000      4.3400      5.4400      3.0000      4.0000      5.0000      3.1000      4.2000      5.2500      3.1500      4.3600      5.5400
max    16135.0000      5.0000    262.0000    262.0000     10.0000      9.0000           1.0000           0.8590           0.9997             6.0000             5.0000     26.0000     21.0000     41.0000     34.0000     19.5000     51.0000     20.0000     16.0000     42.0000     36.0000     29.0000     48.7500     26.0000     19.0000     51.0000     36.0000     26.0000     67.0000     37.6300     26.6000     52.7700

In [13]:
#Drop unnecessary columns
games.drop(columns=games.columns.to_list()[13:], inplace=True)
games_df = games.copy()
games_df.columns.to_list()

['gameID',
 'leagueID',
 'season',
 'date',
 'homeTeamID',
 'awayTeamID',
 'homeGoals',
 'awayGoals',
 'homeProbability',
 'drawProbability',
 'awayProbability',
 'homeGoalsHalfTime',
 'awayGoalsHalfTime']

In [33]:
#Join with teamstats, league table
sql_stm = '''
    SELECT * FROM teamstats;
'''
sql_stm_l = '''
    SELECT * FROM leagues;
'''
leagues = pd.read_sql(sql_stm_l,conn)
teamstats = pd.read_sql(sql_stm,conn)
teamstats_df = teamstats.copy()
leagues_df = leagues.copy()


df = pd.merge(teamstats_df,games_df, on="gameID")
df = df.merge(leagues_df, on="leagueID", how="left")
(
    df.groupby('name')
    .agg({"goals": "sum", "xGoals": "sum", "shots": "sum", "shotsOnTarget": "sum", "fouls": "sum", "yellowCards": "sum", "redCards": "sum"})
    .reset_index()
)

             name  goals     xGoals  shots  shotsOnTarget  fouls  yellowCards  redCards
0      Bundesliga   6324  6134.8216  55153          19867  56720       7840.0       322
1         La Liga   7072  7022.2138  62287          22077  73053      13425.0       611
2         Ligue 1   6656  6427.1668  61076          21139  67042       9344.0       649
3  Premier League   7213  7130.8236  66865          22743  57506       8665.0       348
4         Serie A   7476  7278.3014  70649          23665  74232      12262.0       687