# Exploratory Data Analysis

In [1]:
import os, math, subprocess
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sqlalchemy import create_engine


# load environments
from dotenv import load_dotenv
load_dotenv()

# some settings for displaying Pandas results
pd.set_option('display.width', 2000)
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.precision', 4)
pd.set_option('display.max_colwidth', None)

In [2]:
print(os.getenv("MYSQL_PORT"))

None

In [11]:
params = {
    "host": "localhost",
    "port": os.getenv("MYSQL_PORT"),
    "database": os.getenv("MYSQL_DATABASE"),
    "user": os.getenv("MYSQL_USER"),
    "password": os.getenv("MYSQL_PASSWORD")
}
conn_info = (
        f"mysql+pymysql://{params['user']}:{params['password']}"
        + f"@{params['host']}:{params['port']}"
        + f"/{params['database']}")
print(f"Configs: {conn_info}")
conn = create_engine(conn_info)
conn

Configs: mysql+pymysql://admin:admin123@localhost:3306/football

Engine(mysql+pymysql://admin:***@localhost:3306/football)

In [2]:
games = pd.read_csv("games.csv")
leagues = pd.read_csv("leagues.csv")
app = pd.read_csv("appearances.csv")
#players = pd.read_csv("players.csv") #error
shots = pd.read_csv("shots.csv")
teams = pd.read_csv("teams.csv")
teamstat = pd.read_csv("teamstats.csv")

In [3]:
cols = games.columns.to_list()
games[cols[6:]].dtypes

homeGoals              int64
awayGoals              int64
homeProbability      float64
drawProbability      float64
awayProbability      float64
homeGoalsHalfTime      int64
awayGoalsHalfTime      int64
B365H                float64
B365D                float64
B365A                float64
BWH                  float64
BWD                  float64
BWA                  float64
IWH                  float64
IWD                  float64
IWA                  float64
PSH                  float64
PSD                  float64
PSA                  float64
WHH                  float64
WHD                  float64
WHA                  float64
VCH                  float64
VCD                  float64
VCA                  float64
PSCH                 float64
PSCD                 float64
PSCA                 float64
dtype: object

In [4]:
for i, col in enumerate(cols):
    if i >= 6:
        games[col] = pd.to_numeric(games[col], errors='coerce')

In [ ]:
games.to_csv("games.csv", index=False)

In [13]:
name = {"games": games,
        "leagues": leagues,
        "app": app,
        "shots": shots,
        "teams": teams,
        "teamstat": teamstat}
#for table in name:
for tbl in name:
    cols = name[tbl].columns.tolist()
    types = name[tbl].dtypes.to_dict()
    sql = f"DROP TABLE IF EXISTS {tbl}; \nCREATE TABLE {tbl} (\n"
    for col in cols:
        sql += f"  {col} {types[col].name}, \n"
    sql =sql[:-2] + "\n);\n"
    print(sql)

DROP TABLE IF EXISTS games;
CREATE TABLE games (
  gameID int64,
  leagueID int64,
  season int64,
  date object,
  homeTeamID int64,
  awayTeamID int64,
  homeGoals int64,
  awayGoals int64,
  homeProbability float64,
  drawProbability float64,
  awayProbability float64,
  homeGoalsHalfTime int64,
  awayGoalsHalfTime int64,
  B365H float64,
  B365D float64,
  B365A float64,
  BWH float64,
  BWD float64,
  BWA float64,
  IWH float64,
  IWD float64,
  IWA float64,
  PSH float64,
  PSD float64,
  PSA float64,
  WHH float64,
  WHD float64,
  WHA float64,
  VCH float64,
  VCD float64,
  VCA float64,
  PSCH float64,
  PSCD float64,
  PSCA float64,
);

DROP TABLE IF EXISTS leagues;
CREATE TABLE leagues (
  leagueID int64,
  name object,
  understatNotation object,
);

DROP TABLE IF EXISTS app;
CREATE TABLE app (
  gameID int64,
  playerID int64,
  goals int64,
  ownGoals int64,
  shots int64,
  xGoals float64,
  xGoalsChain float64,
  xGoalsBuildup float64,
  assists int64,
  keyPasses int64,
  xAssists float64,
  position object,
  positionOrder int64,
  yellowCard int64,
  redCard int64,
  time int64,
  substituteIn int64,
  substituteOut int64,
  leagueID int64,
);

DROP TABLE IF EXISTS shots;
CREATE TABLE shots (
  gameID int64,
  shooterID int64,
  assisterID float64,
  minute int64,
  situation object,
  lastAction object,
  shotType object,
  shotResult object,
  xGoal float64,
  positionX float64,
  positionY float64,
);

DROP TABLE IF EXISTS teams;
CREATE TABLE teams (
  teamID int64,
  name object,
);

DROP TABLE IF EXISTS teamstat;
CREATE TABLE teamstat (
  gameID int64,
  teamID int64,
  season int64,
  date object,
  location object,
  goals int64,
  xGoals float64,
  shots int64,
  shotsOnTarget int64,
  deep int64,
  ppda float64,
  fouls int64,
  corners int64,
  yellowCards float64,
  redCards int64,
  result object,
);

In [11]:
print(sql)

DROP TABLE IF EXISTS teamstat;
CREATE TABLE teamstat (
  gameID int64,
  teamID int64,
  season int64,
  date object,
  location object,
  goals int64,
  xGoals float64,
  shots int64,
  shotsOnTarget int64,
  deep int64,
  ppda float64,
  fouls int64,
  corners int64,
  yellowCards float64,
  redCards int64,
  result object,
);

In [4]:
teamstat.head()

   gameID  teamID  season                 date location  goals  xGoals  shots  shotsOnTarget  deep     ppda  fouls  corners  yellowCards  redCards result
0      81      89    2015  2015-08-08 15:45:00        h      1  0.6275      9              1     4  13.8261     12        1          2.0         0      W
1      81      82    2015  2015-08-08 15:45:00        a      0  0.6746      9              4    10   8.2188     12        2          3.0         0      L
2      82      73    2015  2015-08-08 18:00:00        h      0  0.8761     11              2    11   6.9000     13        6          3.0         0      L
3      82      71    2015  2015-08-08 18:00:00        a      1  0.7823      7              3     2  11.8462     13        3          4.0         0      W
4      83      72    2015  2015-08-08 18:00:00        h      2  0.6042     10              5     5   6.6500      7        8          1.0         0      D

In [6]:
teamstat = teamstat.replace("NA", pd.NA)

In [8]:
teamstat[teamstat.columns.tolist()].isna()
teamstat.isna()

       gameID  teamID  season   date  location  goals  xGoals  shots  shotsOnTarget   deep   ppda  fouls  corners  yellowCards  redCards  result
0       False   False   False  False     False  False   False  False          False  False  False  False    False        False     False   False
1       False   False   False  False     False  False   False  False          False  False  False  False    False        False     False   False
2       False   False   False  False     False  False   False  False          False  False  False  False    False        False     False   False
3       False   False   False  False     False  False   False  False          False  False  False  False    False        False     False   False
4       False   False   False  False     False  False   False  False          False  False  False  False    False        False     False   False
...       ...     ...     ...    ...       ...    ...     ...    ...            ...    ...    ...    ...      ...          ...       ...     ...
25355   False   False   False  False     False  False   False  False          False  False  False  False    False        False     False   False
25356   False   False   False  False     False  False   False  False          False  False  False  False    False        False     False   False
25357   False   False   False  False     False  False   False  False          False  False  False  False    False        False     False   False
25358   False   False   False  False     False  False   False  False          False  False  False  False    False        False     False   False
25359   False   False   False  False     False  False   False  False          False  False  False  False    False        False     False   False

[25360 rows x 16 columns]